.wrapper {
    width: 361px;
    max-height: 530px;
    min-height: 100px;
    margin-top: 8px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    border-radius: 8px;
    overflow: hidden;
}

.title {
    height: 30px;
    padding: 5px 12px;
    font-size: 1.4rem;
    line-height: 20px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.search-result {
}

.result-hint_name {
}

.result-account {
}
