.wrapper {
    width: 361px;
    max-height: 530px;
    min-height: 100px;
    margin-top: 8px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    border-radius: 8px;
    overflow: hidden;
}

.search-result {
}

.result-hint_name {
}

.result-account {
}
