.wrapper {
    display: flex;
    padding: 20px 0;
    position: relative;
}

.avatar {
    height: fit-content;
    width: 56px;
    height: 56px;

    .img {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.main {
    margin-left: 12px;
}

.info {
    margin-right: 114px;
}

.user-name {
    .nickname {
        display: inline-block;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 25px;
        margin-right: 8px;

        .tick-icon {
            margin-left: 4px;
        }
    }

    .fullname {
        font-weight: 400;
        font-size: 1.4rem;
        display: inline-block;
        line-height: 28px;
    }
}

.title {
    font-size: 1.6rem;
    line-height: 22px;
    font-weight: 400;
}

.music-link {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 22px;
    margin-top: 4px;
    margin-bottom: 12px;

    .music-icon {
        display: flex;
        margin-right: 4px;
    }
}

.video {
    display: flex;
    margin-top: 8px;
}

.video-container {
    border-radius: 8px;
    margin-right: 20px;
    overflow: hidden;
    position: relative;

    .video-space {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .clip {
        cursor: pointer;
        left: 0;
        position: absolute;
        top: 0;
        z-index: 2;
        height: 100%;
        min-width: 271px;
        object-fit: cover;
        width: 100%;
    }

    .video-thumb {
        min-height: 100%;
        position: relative;
        z-index: 2;
        height: 100%;
        min-width: 271px;
        object-fit: cover;
        width: 100%;
    }

    .control-btn {
    }
}

.vertical {
    width: calc(383.33333px + 8.68056vw);
}

.horizontal {
    height: calc(383.33333px + 8.68056vw);
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .like-button,
    .comment-button,
    .share-button {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.like-icon,
.share-icon,
.comment-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin-top: 8px;
    margin-bottom: 6px;
    border-radius: 50%;
    background-color: rgba(22, 24, 35, 0.06);
    font-size: 2.4rem;
}

.count-number {
    color: rgba(22, 24, 35, 0.75);
    font-size: 1.2rem;
    line-height: 17px;
    text-align: center;
}
