.wrapper {
    background: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
}

.option {
    min-width: 223px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding: 8px 0px;
    margin: 0px;
    list-style: none;
    transition: opacity 300ms ease 0s;
}

.item-wrapper {
    display: flex;
    padding: 10px 8px 10px 16px;
    -webkit-box-pack: justify;
    align-items: center;
    cursor: pointer;
}

.item-wrapper-small {
    padding: 10px 24px;
}

.header {
    height: 50px;
}

.item-wrapper.header {
    padding: 0;
}

.header > .item {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.item {
}

.itemChild {
    font-size: 14px;
    line-height: 20px;
}

.icon {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
}

.header > span {
    padding: 0;
    margin-left: 28px;
    width: 20px;
    height: 20px;
}

.icon-wrapper {
    display: flex;
}

.title {
}
