.account {
    max-width: 361px;
}

.hover {
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.pointer-event {
    pointer-events: none;
}


.wrapper {
    display: flex;
    padding: 9px 16px;
    align-items: center;
}

.big-avatar > .wrapper {
}

.medium-avatar > .wrapper {
    height: 60px;
}

.small-avatar > .wrapper {
    height: 48px;
    padding: 8px;
}

.avatar {
    border-radius: 999px;
    overflow: hidden;
    margin-right: 12px;
}

.big-avatar .avatar {
    width: 56px;
    height: 56px;
}

.medium-avatar .avatar {
    width: 40px;
    height: 40px;
}

.small-avatar .avatar {
    width: 32px;
    height: 32px;
}

.img {
    width: 100%;
    height: 100%;
}

.info {
}

.nickname {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    line-height: 22px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fullname {
    font-size: 1.4rem;
    line-height: 20px;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
}
